<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976116118616-j1t8rde9h2c42018heu75rareo3vnvf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976116118616-j1t8rde9h2c42018heu75rareo3vnvf0</string>
	<key>API_KEY</key>
	<string>AIzaSyCNGA5gd9QWMCiINhX0Vo4Uu5Akvp70UE8</string>
	<key>GCM_SENDER_ID</key>
	<string>976116118616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sahara</string>
	<key>PROJECT_ID</key>
	<string>sahara-9a91b</string>
	<key>STORAGE_BUCKET</key>
	<string>sahara-9a91b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976116118616:ios:3d3126e6fab56e5c21862d</string>
</dict>
</plist>